<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="unity"
                 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
    </configSections>

    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <alias alias="IGame" type="GameFactory.SDK.IGame, GameFactory.SDK" />
        <alias alias="MockGameOne" type="MockGame01.MockGameOne, MockGame01" />
        <container>
            <register type="IGame" mapTo="MockGameOne" name="MockGameOne"/>
        </container>
    </unity>

</configuration>