<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="unity"
                 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                 Microsoft.Practices.Unity.Configuration"/>
    </configSections>

    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <alias alias="IGame" type="GameFactory.SDK.IGame, GameFactory.SDK" />
        <alias alias="RealGameOne" type="MockGame01.RealGameOne, MockGame01" />
        <!--<alias alias="TicTacToe" type="GamePublisher.TicTacToe, GamePublisher" />
        <alias alias="Uno" type="GamePublisher.Uno, GamePublisher" />
        <alias alias="BlackJack" type="GamePublisher.BlackJack, GamePublisher" />
        <alias alias="Monopoly" type="GamePublisher.Monopoly, GamePublisher" />
        <alias alias="Checkers" type="GamePublisher.Checkers, GamePublisher" />
        <alias alias="Battleship" type="GamePublisher.Battleship, GamePublisher" />-->
        <container>
            <register type="IGame" mapTo="RealGameOne" name="RealGameOne"/>
            <!--<register type="IGame" mapTo="TicTacToe" name="TicTacToe"/>
            <register type="IGame" mapTo="Uno" name="Uno"/>
            <register type="IGame" mapTo="BlackJack" name="BlackJack"/>
            <register type="IGame" mapTo="Monopoly" name="Monopoly"/>
            <register type="IGame" mapTo="Checkers" name="Checkers"/>
            <register type="IGame" mapTo="Battleship" name="Battleship"/>-->
        </container>
    </unity>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>